            body {
                font-family: monospace;
                margin: 0;
                background-size: 150px;
                background-image: url("seamless\ pattern.png");
                background-attachment: fixed; 
                block-size: 100%;    
                    
            }
            .help {cursor: help;}

            .row {
                display: flex;
                }

                .column {
                flex: 33.33%;
                padding: 5px;
                }
            * {
                box-sizing: border-box;
            }

           html {
                block-size: 100%;
           } 

           hr {
            border: #000000;
            border-style: dotted;

           }
           img {
            margin: auto;
            display: block;
           }
            #container {
                max-width: 900px;
                margin: 0 auto;
                /* this centers the entire page */
            }

      
            /* the area below is for all links on your page
    EXCEPT for the navigation */
            #container a {
                color: #01BEFE;
                font-weight:100;
            }

            #header {
                background-image: url("new\ colorful\ header.gif");
                height:225px;
                margin: auto;
                border-color:#000000;
                border-style: dashed;
                border-radius: 10px;
                background-size: 100%;
                margin-bottom: 10px;
                background-repeat: no-repeat;
                            
            }
            
            /* navigation section!! */
            #navbar {
                border: #000000;
                border-style: dashed;
                border-radius: 10px;
                height: 55px;
                background-color: #8f00ff;
                               
                /* navbar color */
               
            }

            #navbar ul {
                display: flex;
                padding: 0px;
                margin: 0;
                list-style-type: none;
                justify-content: space-evenly;
            }

            
            #navbar li {
                padding: 0px;
            }

            /* navigation links*/
            #navbar li a {
                color: #ffffff;
                /* navbar text color */
                font-weight: 800;
                text-decoration: none;
                /* this removes the underline */
            }

            /* navigation link when a link is hovered over */
            #navbar li a:hover {
                color: #adff02;
            }

            #flex {
                display: flex;
            }

            #leftSidebar {
                width: calc(900px*0.2);
                border: #000000;
                border-style: dashed;
                border-radius: 10px;
                background-color: #ffdd00;
                background-attachment: fixed;
                padding: 10px; 

            }
          #rightSidebar {
            width: calc(900px*0.2);
            border: #000000;
            border-radius: 10px;
            border-style: dashed;
            background-color: #01BEFE;
            padding: 10px;
            
          }

            /* this colors BOTH sidebars
    if you want to style them separately,
    create styles for #leftSidebar and #rightSidebar */
            


            /* this is the color of the main content area,
    between the sidebars! */
            main {
                overflow: auto;
                background-color: #ffffff;
                border-style:solid;
                color:#000000;
                border-radius: 10px;
                flex: 1;
                padding: 10px;
                order: 2;
                margin-bottom: 10px;
                margin-left: 10px;
                margin-right: 10px;
            }

            /* what's this "order" stuff about??
    allow me to explain!
    if you're using both sidebars, the "order" value
    tells the CSS the order in which to display them.
    left sidebar is 1, content is 2, and right sidebar is 3! */

            */ #leftSidebar {
                order: 1;
            }

            #rightSidebar {
                order: 3;
            }

            footer {
                border: #000000;
                border-style: dashed;
                border-radius: 10px;
                background-color: #8f00ff;
                /* background color for footer */
                width: 100%;
                height: 45px;
                padding: 2.5px;
                text-align: center;
                /* this centers the footer text */
            }

            h1 {color: rgb(255, 255, 255);
              font-size:x-large;}
            
            h2{font-size: large;
                color: #000000;}
            h3 {
                font-size:small;
                color:#ffffff;
            }
            h4 {
              font-size:x-small;
            }

            
            strong {
                /* this styles bold text */
                color: #000000;
            }

            /* this is just a cool box, it's the darker colored one */
            .box {
                background-color: #ffffff;
                border: #000000;
                border-style: dotted;
                border-radius: 10px;
                padding: 10px;
            }

              


            /* BELOW THIS POINT IS MEDIA QUERY */

            /* so you wanna change the width of your page? 
    by default, the container width is 900px.
    in order to keep things responsive, take your new height,
    and then subtrack it by 100. use this new number as the 
    "max-width" value below
    */

            @media only screen and (max-width: 800px) {
                #flex {
                    flex-wrap: wrap;
                }

                aside {
                    width: 100%;
                }

                /* the order of the items is adjusted here for responsiveness!
      since the sidebars would be too small on a mobile device.
      feel free to play around with the order!
      */
                main {
                    order: 1;
                }

                #leftSidebar {
                    order: 2;
                }

                #rightSidebar {
                    order: 3;
                }

                #navbar ul {
                    flex-wrap:nowrap;
                }
            }
